# Игнорировать файлы и папки IDE
.idea/
*.iml

# Игнорировать файлы сборки и временные файлы
/out/
/build/
target/

# Игнорировать файлы компиляции Java
*.class

# Игнорировать файлы логов
*.log

# Игнорировать временные файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать файлы конфигурации IDE, если не нужны в репозитории
*.ipr
*.iws

# Игнорировать файлы Maven или Gradle (если используете)
.settings/
.gradle/
.mvn/